{% extends 'base.html' %}


{% block content %}
{% load widget_tweaks %}

<div class="container mt-2 mx-auto">
    <div class="card text-right">
        <div class="card-header">
            ویرایش
        </div>
        <form id="myform" action="" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="row mt-1">
                    <div class="col-1"><label for="pass_me">رمز</label></div>
                    <div class="col-6">
                        <input class="form-control" type="password" name="mypass" id="pass_me">
                    </div>
                    <div class="col-5">
                        <button class="btn btn-success" id="decom">رمزگشایی</button>
                    </div>

                </div>

                <div class="row mt-1">
                    <div class="col-1"><label for="id_what">چی؟</label></div>
                    <div class="col-11">
                        {{ form.what|add_class:"form-control"|attr:"placeholder:مثلا کفش، مسواک" }}
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-1"><label for="id_where">کجا؟</label></div>
                    <div class="col-11">
                        {{ form.where|add_class:"form-control"|attr:"placeholder:تو کشو سوم جا کفشی" }}
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                          <input type="password" class="form-control" id="password" aria-describedby="helpId" placeholder="رمز برای ذخیره سازی">
                        </div>
                    </div>
                    <div class="col-5">
                        <button id="subbutton" disabled class="btn btn-primary">ذخیره</button>
                        <span>برای فعال شدن رمز  (بیشتر از 4 کاراکتر) وارد کنید.</span>
                    </div>

                </div>
                  
              
            </div>
        </form>

    </div>
</div>



   
{% endblock content %}
    

{% block table %}
    
{% endblock table %}
    