<div class="d-none d-sm-block d-md-none">
    <div class="row m-0 p-0">
        <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark nav-fill nav-justified">

            <a class="nav-item nav-link active" href="{% url 'home' %}"> 
                <span class="material-icons">
                    home
                </span>
            </a>
            <a class="nav-item nav-link" href="{% url 'change_password' %}"> 
                <span class="material-icons">
                    dashboard
                </span>
            </a>
            <a class="nav-item nav-link" href="{% url 'logout' %}"> 
                <span class="material-icons">
                    exit_to_app
                </span>
            </a>
    
        </nav>
    
    </div>
</div>
