<!DOCTYPE html>
<html>
    {% load pwa %}
<head>
    {% load static %}
    {% progressive_web_app_meta %}
    <title>
        {% block title %} {{title}} {% endblock title %}
    </title>
    <meta charset="UTF-8">
    <!--===============================================================================================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css' %}"
    media="screen,projection" />    
    <style>
        @font-face {
            font-family: vazir;
            src: url("{% static 'core/font/bkoodak.ttf' %}") format('truetype');
            font-weight: normal;
        }
        *:not(i){
            font-family: 'vazir';
        }

</style>

    <link rel="stylesheet" type="text/css" href="{% static 'core/css/main.css' %}"
    media="screen,projection" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

</head>

<body dir="rtl">
    <div class="container-fluid p-0 m-0">
        {% include 'core/nav.html' %}
    </div>
    <div class="container-fluid p-0 m-0 my-1 px-3">
        
        {% if messages %}
            {% include 'core/messages.html' %}
        {% endif %}
            
    </div>


    <div class="container-fluid mb-5 p-0 m-0">
        <div class="container mb-5 mt-2 pb-5 pt-2">
            <div class="row my-1 bg-white m-0 p-3 myrounded">
                <div class="col-12 col-md-6 mt-1">
                    <input  class="form-control" name="search" type="text" id="myInput" onkeyup="myFunction()" placeholder="جستجو ..." >
                </div>
        
                <div class="col-12 col-md-6 mt-1">
                    <input  class="form-control" type="password" id="repass" placeholder="رمز خود را که هنگام رمز نگاری وارد کرده اید بنویسید."> 
                </div>
        
            </div>
            <table id="myTable" class="table table-hover mb-5 table-striped text-right bg-white">
                <thead class="">
                    <tr>
                        <th>چی</th>
                        <th>کجا</th>
                    </tr>
                </thead>
                <tbody class="" id="offlineme">
                </tbody>
            </table>
              <script>
              function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                
                    
                
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        } else {
                        tr[i].style.display = "none";
                        }
                    }       
                    }

              }
              </script>
        </div>
        
        
            


    </div>
    <div class="container-fluid mt-3 p-0 m-0">
        {% include 'core/footer.html' %}
    </div>

    
    <script type="text/javascript" src="{% static 'core/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'core/js/idbs.js' %}"></script>

    <script type="text/javascript" src="{% static 'core/js/main.js' %}"></script>



    <script>

var dbPromise = idb.open('feeds-db', 1, function (upgradeDb) {
    upgradeDb.createObjectStore('feeds', { keyPath: 'pk' });
});
    var post = "";
    dbPromise.then(function (db) {
        var tx = db.transaction('feeds', 'readonly');
        var feedsStore = tx.objectStore('feeds');
        return feedsStore.openCursor();
    }).then(function logItems(cursor) {
        if (!cursor) {
            document.getElementById('offlineme').innerHTML = post;
            return;
        }
        for (var field in cursor.value) {
            if (field == 'fields') {
                feedsData = cursor.value[field];
                for (var key in feedsData) {
                    if (key == 'what') {
                        var wwat = '<td>' + feedsData[key] + '</td>';
                    }
                    if (key == 'where') {
                        var wwher = '<td>' + feedsData[key] + '</td>';
                    }
                    if (key == 'passed') {
                        if (feedsData[key]) {
                            var wwher = '<td> <div> <span class="passed">"رمز نگاری شده"</span> <span hidden>' + feedsData['where'] + '</span></div></td>';
                        }
                    }
                }
                post = post +'<tr>'+ wwat + wwher + '</tr>';
            }
        }
        return cursor.continue().then(logItems);
    });

    </script>
</body>

</html>